In [17]:
import pandas as pd
import numpy as np
import re

In [15]:
df_raw = pd.read_csv("/Users/yoran/Documents/Advanced_Simulation/Bangladesh_Assignment/data/raw/_roads.tsv", sep='\t')

df_bridges_raw = pd.read_excel('/Users/yoran/Documents/Advanced_Simulation/Bangladesh_Assignment/data/raw/BMMS_overview.xlsx')

/var/folders/04/yj5x8lbx49sc1jbf3gyzwr3h0000gn/T/ipykernel_43399/1161747910.py:1: DtypeWarning: Columns (571,574,577,580,583,586,589,592,595,598,601,604,607,610,613,616,619,622,625,628,631,634,637,640,643,646,649,652,655,658,661,664,667,670,673,676,679,682,685,688,691,694,697,700,703,706,709,712,715,718,721,724,727,730,733,736,739,742,745,748,751,754,757,760,763,766,769,772,775,778,781,784,787,790,793,796,799,802,805,808,811,814,817,820,823,826,829,832,835,838,841,844,847,850,853,856,859,862,865,868,871,874,877,880,883,886,889,892,895,898,901,904,907,910,913,916,919,922,925,928,931,934,937,940,943,946,949,952,955,958,961,964,967,970,973,976,979,982,985,988,991,994,997,1000,1003,1006,1009,1012,1015,1018,1021,1024,1027,1030,1033,1036,1039,1042,1045,1048,1051,1054,1057,1060,1063,1066,1069,1072,1075,1078,1081,1084,1087,1090,1093,1096,1099,1102,1105,1108,1111,1114,1117,1120,1123,1126,1129,1132,1135,1138,1141,1144,1147,1150,1153,1156,1159,1162,1165,1168,1171,1174,1177,1180,1183,1186,1189,1192,1195,1198,1201,1204,1207,1210,1213,1216,1219,1222,1225,1228,1231,1234,1237,1240,1243,1246,1249,1252,1255,1258,1261,1264,1267,1270,1273,1276,1279,1282,1285,1288,1291,1294,1297,1300,1303,1306,1309,1312,1315,1318,1321,1324,1327,1330,1333,1336,1339,1342,1345,1348,1351,1354,1357,1360,1363,1366,1369,1372,1375,1378,1381,1384,1387,1390,1393,1396,1399,1402,1405,1408,1411,1414,1417,1420,1423,1426,1429,1432,1435,1438,1441,1444,1447,1450,1453,1456,1459,1462,1465,1468,1471,1474,1477,1480,1483,1486,1489,1492,1495,1498,1501,1504,1507,1510,1513,1516,1519,1522,1525,1528,1531,1534,1537,1540,1543,1546,1549,1552,1555,1558,1561,1564,1567,1570,1573,1576,1579,1582,1585,1588,1591,1594,1597,1600,1603,1606,1609,1612,1615,1618,1621,1624,1627,1630,1633,1636,1639,1642,1645,1648,1651,1654,1657,1660,1663,1666,1669,1672,1675,1678,1681,1684,1687,1690,1693,1696,1699,1702,1705,1708,1711,1714,1717,1720,1723,1726,1729,1732,1735,1738,1741,1744,1747,1750,1753,1756,1759,1762,1765,1768,1771,1774,1777,1780,1783,1786,1789,1792,1795,1798,1801,1804,1807,1810,1813,1816,1819,1822,1825,1828,1831,1834,1837,1840,1843,1846,1849,1852,1855,1858,1861,1864,1867,1870,1873,1876,1879,1882,1885,1888,1891,1894,1897,1900,1903,1906,1909,1912,1915,1918,1921,1924,1927,1930,1933,1936,1939,1942,1945,1948,1951,1954,1957,1960,1963,1966,1969,1972,1975,1978,1981,1984,1987,1990,1993,1996,1999,2002,2005,2008,2011,2014,2017,2020,2023,2026,2029,2032,2035,2038,2041,2044,2047,2050,2053,2056,2059,2062,2065,2068,2071,2074,2077,2080,2083,2086,2089,2092,2095,2098,2101,2104,2107,2110,2113,2116,2119,2122,2125,2128,2131,2134,2137,2140,2143,2146,2149,2152,2155,2158,2161,2164,2167,2170,2173,2176,2179,2182,2185,2188,2191,2194,2197,2200,2203,2206,2209,2212,2215,2218,2221,2224,2227,2230,2233,2236,2239,2242,2245,2248,2251,2254,2257,2260,2263,2266,2269,2272,2275,2278,2281,2284,2287,2290,2293,2296,2299,2302,2305,2308,2311,2314,2317,2320,2323,2326,2329,2332,2335,2338,2341,2344,2347,2350,2353,2356,2359,2362,2365,2368,2371,2374,2377,2380,2383,2386,2389,2392,2395,2398,2401,2404,2407,2410,2413,2416,2419,2422,2425,2428,2431,2434,2437,2440,2443,2446,2449,2452,2455,2458,2461,2464,2467,2470,2473,2476,2479,2482,2485,2488,2491,2494,2497,2500,2503,2506,2509,2512,2515,2518,2521,2524,2527,2530,2533,2536,2539,2542,2545,2548,2551,2554,2557,2560,2563,2566,2569,2572,2575,2578,2581,2584,2587,2590,2593,2596,2599,2602,2605,2608,2611,2614,2617,2620,2623,2626,2629,2632,2635,2638,2641,2644,2647,2650,2653,2656,2659,2662,2665,2668,2671,2674,2677,2680,2683,2686,2689,2692,2695,2698,2701,2704,2707,2710,2713,2716,2719,2722,2725,2728,2731,2734,2737,2740,2743,2746,2749,2752,2755,2758,2761,2764,2767,2770,2773,2776,2779,2782,2785,2788,2791,2794,2797,2800,2803,2806,2809,2812,2815,2818,2821,2824,2827,2830,2833,2836,2839,2842,2845,2848,2851,2854,2857,2860,2863,2866,2869,2872,2875,2878,2881,2884,2887,2890,2893,2896,2899,2902,2905,2908,2911,2914,2917,2920,2923,2926,2929,2932,2935,2938,2941,2944,2947,2950,2953,2956,2959,2962,2965,2968,2971,2974,2977,2980,2983,2986,2989,2992,2995,2998,3001,3004,3007,3010,3013,3016,3019,3022,3025,3028,3031,3034,3037,3040,3043,3046,3049,3052,3055,3058,3061,3064,3067,3070,3073,3076,3079,3082,3085,3088,3091,3094,3097,3100,3103,3106,3109,3112,3115,3118,3121,3124,3127,3130,3133,3136,3139,3142,3145,3148,3151,3154,3157,3160,3163,3166,3169,3172,3175,3178,3181,3184,3187,3190,3193,3196,3199,3202,3205,3208,3211,3214,3217,3220,3223,3226,3229,3232,3235,3238,3241,3244,3247,3250,3253,3256,3259,3262,3265,3268,3271,3274,3277,3280,3283,3286,3289,3292,3295,3298,3301,3304,3307,3310,3313,3316,3319,3322,3325,3328,3331,3334,3337,3340,3343,3346,3349,3352,3355,3358,3361,3364,3367,3370,3373,3376,3379,3382,3385,3388,3391,3394,3397,3400,3403,3406,3409,3412,3415,3418,3421,3424,3427,3430,3433,3436,3439,3442,3445,3448,3451,3454,3457,3460,3463,3466,3469,3472,3475,3478,3481,3484,3487,3490,3493,3496,3499,3502,3505,3508,3511,3514,3517,3520,3523,3526,3529,3532,3535,3538,3541,3544,3547,3550,3553,3556,3559,3562,3565,3568,3571,3574,3577,3580,3583,3586,3589,3592,3595,3598,3601,3604,3607,3610,3613,3616,3619,3622,3625,3628,3631,3634,3637,3640,3643,3646,3649,3652,3655,3658,3661,3664,3667,3670,3673,3676,3679,3682,3685,3688,3691,3694,3697,3700,3703,3706,3709,3712,3715,3718,3721,3724,3727,3730,3733,3736,3739,3742,3745,3748,3751,3754,3757,3760,3763,3766,3769,3772,3775,3778,3781,3784,3787,3790,3793,3796,3799,3802,3805,3808,3811,3814,3817,3820,3823,3826,3829,3832,3835,3838,3841,3844,3847,3850,3853,3856,3859,3862,3865,3868,3871,3874,3877,3880,3883,3886,3889,3892,3895,3898,3901,3904,3907,3910,3913,3916,3919,3922,3925,3928,3931,3934,3937,3940,3943,3946,3949,3952,3955,3958,3961,3964,3967,3970,3973,3976,3979,3982,3985,3988,3991,3994,3997,4000,4003,4006,4009,4012,4015,4018,4021,4024,4027,4030,4033,4036,4039,4042) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv("/Users/yoran/Documents/Advanced_Simulation/Bangladesh_Assignment/data/raw/_roads.tsv", sep='\t')

In [12]:
# 2. Inspect the columns
print("Columns found:", df_bridges_raw.columns.tolist())

# 3. Quick Clean (Standardize names)
# It's good practice to strip whitespace from column names immediately
df_bridges_raw.columns = df_bridges_raw.columns.str.strip()

# Check the first few rows to ensure the header was picked up correctly
print(df_bridges_raw.head())

Columns found: ['road', 'km', 'type', 'LRPName', 'name', 'length', 'condition', 'structureNr', 'roadName', 'chainage', 'width', 'constructionYear', 'spans', 'zone', 'circle', 'division', 'sub-division', 'lat', 'lon', 'EstimatedLoc']
  road      km              type  LRPName               name  length  \
0   N1   1.800       Box Culvert  LRP001a                  .   11.30
1   N1   4.925       Box Culvert  LRP004b                  .    6.60
2   N1   8.976  PC Girder Bridge  LRP008b  Kanch pur Bridge.  394.23
3   N1  10.880       Box Culvert  LRP010b   NOYAPARA CULVERT    6.30
4   N1  10.897       Box Culvert  LRP010c     ADUPUR CULVERT    6.30

  condition  structureNr                                           roadName  \
0         A       117861  Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...
1         A       117862  Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...
2         A       119889  Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...
3         A       112531  Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...
4         A       112532  Dhaka (Jatrabari)-Comilla (Mainamati)-Chittago...

  chainage  width  constructionYear  spans   zone circle     division  \
0      1.8   19.5            2005.0    2.0  Dhaka  Dhaka  Narayanganj
1    4.925   35.4            2006.0    1.0  Dhaka  Dhaka  Narayanganj
2    8.976    NaN               NaN    NaN  Dhaka  Dhaka  Narayanganj
3    10.88   12.2            1992.0    2.0  Dhaka  Dhaka  Narayanganj
4   10.897   12.2            1984.0    2.0  Dhaka  Dhaka  Narayanganj

    sub-division        lat        lon  EstimatedLoc
0  Narayanganj-1  23.702889  90.450389          bcs1
1  Narayanganj-1  23.693611  90.478833          bcs1
2  Narayanganj-1  23.704583  90.518833  road_precise
3      Vitikandi  23.699833  90.530722          bcs1
4      Vitikandi  23.699667  90.530722          bcs1

In [24]:
import pandas as pd
import numpy as np
import re

# 1. LOAD & CLEAN (Standard Procedure)
print("Loading raw data...")
df_raw = pd.read_csv('/Users/yoran/Documents/Advanced_Simulation/Bangladesh_Assignment/data/raw/_roads.tsv', sep='\t', low_memory=False)

# Parse Wide -> Long
new_rows = []
for i in range(1, len(df_raw.columns), 3):
    if i+2 >= len(df_raw.columns): break
    chunk = df_raw.iloc[:, [0, i, i+1, i+2]].copy()
    chunk.columns = ['road', 'lrp', 'lat', 'lon']
    chunk = chunk.dropna(subset=['lrp'])
    new_rows.append(chunk)

df_long = pd.concat(new_rows, ignore_index=True)

# Extract Chainage for Sorting
def get_chainage(val):
    val = str(val).upper()
    if 'LRPS' in val: return 0.0
    match = re.search(r'(\d+\.?\d*)', val)
    if match: return float(match.group(1))
    return np.nan

df_long['chainage'] = df_long['lrp'].apply(get_chainage)
df_long['lat'] = pd.to_numeric(df_long['lat'], errors='coerce')
df_long['lon'] = pd.to_numeric(df_long['lon'], errors='coerce')

# Filter & Sort
mask_lat = (df_long['lat'] > 20) & (df_long['lat'] < 27)
mask_lon = (df_long['lon'] > 88) & (df_long['lon'] < 93)
df_clean = df_long[mask_lat & mask_lon].copy()
df_clean = df_clean.sort_values(by=['road', 'chainage'])
df_clean = df_clean.drop_duplicates(subset=['road', 'chainage'])

print(f"Cleaned data points: {len(df_clean)}")

# ---------------------------------------------------------
# 2. PIVOT BACK TO WIDE FORMAT (The "Restorer")
# ---------------------------------------------------------
# We need to reconstruct: road, lrp1, lat1, lon1, lrp2...

print("Reconstructing wide format...")
grouped = df_clean.groupby('road')
rows = []
max_len = 0

for road_name, group in grouped:
    # Get values as lists (They are already sorted by chainage!)
    lrps = group['lrp'].tolist()
    lats = group['lat'].tolist()
    lons = group['lon'].tolist()

    current_len = len(lrps)
    if current_len > max_len: max_len = current_len

    # Create a dictionary for this row
    row_data = {'road': road_name}
    for i in range(current_len):
        idx = i + 1  # 1-based index (lrp1, lrp2...)
        row_data[f'lrp{idx}'] = lrps[i]
        row_data[f'lat{idx}'] = lats[i]
        row_data[f'lon{idx}'] = lons[i]

    rows.append(row_data)

# Create DataFrame
df_wide = pd.DataFrame(rows)

# Enforce Column Order (road, lrp1, lat1, lon1, lrp2...)
# This is critical because dicts are unordered
col_order = ['road']
for i in range(1, max_len + 1):
    col_order.extend([f'lrp{i}', f'lat{i}', f'lon{i}'])

# Reindex arranges columns correctly and fills missing spots with NaN
df_wide = df_wide.reindex(columns=col_order)

# ---------------------------------------------------------
# 3. SAVE AS TSV
# ---------------------------------------------------------
output_path = '/Users/yoran/Documents/Advanced_Simulation/Bangladesh_Assignment/data/raw/_roads.tsv' # Overwriting original
# output_path = 'data/processed/_roads_cleaned_wide.tsv' # Safer option

df_wide.to_csv(output_path, sep='\t', index=False)
print(f"Success! Saved cleaned wide format to {output_path}")
print("Columns:", df_wide.columns.tolist()[:10])

Loading raw data...
Cleaned data points: 21596
Reconstructing wide format...
Success! Saved cleaned wide format to /Users/yoran/Documents/Advanced_Simulation/Bangladesh_Assignment/data/raw/_roads.tsv
Columns: ['road', 'lrp1', 'lat1', 'lon1', 'lrp2', 'lat2', 'lon2', 'lrp3', 'lat3', 'lon3']

In [25]:
df_wide

,road,lrp1,lat1,lon1,lrp2,lat2,lon2,lrp3,lat3,lon3,...,lon503,lrp504,lat504,lon504,lrp505,lat505,lon505,lrp506,lat506,lon506
0,N1,LRPS,23.706028,90.443333,LRP001,23.702139,90.451972,LRP002,23.697889,90.460583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N101,LRPS,23.454139,91.212861,LRP001,23.462944,91.211806,LRP002,23.463111,91.221055,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N102,LRPS,23.478972,91.118194,LRP001,23.486722,91.113306,LRP002,23.493527,91.106917,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N103,LRPS,23.957028,91.115528,LRP001,23.961917,91.113611,LRP002,23.970610,91.111583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N104,LRPS,23.009667,91.399416,LRP001,23.009306,91.389805,LRP002,23.009528,91.380360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,Z8910,LRPS,22.674722,90.408889,LRP001,22.675583,90.417166,LRP002,22.674527,90.426666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,Z8913,LRPS,22.396083,90.688666,LRP001,22.387250,90.689389,LRP002,22.378249,90.689083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,Z8915,LRPS,22.589389,90.619472,LRP001,22.589694,90.623360,LRP002,22.590194,90.633083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,Z8916,LRPS,22.625499,90.661722,LRP001,22.620305,90.668999,LRP002,22.616389,90.677249,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,Z8943,LRPS,22.426444,90.849472,LRP001,22.425444,90.839861,LRP002,22.424860,90.831610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN